table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  border: 2px solid black;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #007BFF;
  color: white;
}


tr:nth-child(3),
tr:last-child {
  background-color: #d6eaff;
}
